
<footer class="container-fluid footerbottomnav">
    <div class="row">
        <div class="col-12">
            <ul class="d-flex mb-0 align-items-center justify-content-between list-unstyled gap-3">
                <li><a href="./index.html" class="Anker"><span><i class="fa-solid fa-house"></i></span>Home</a></li>
                <li><a href="./Portfolio.html" class="Anker"><span><i class="fa-solid fa-code-fork"></i></span>Portfolio</a></li>
                <li class="bg-transparent"><a href="./Mining.html" class="Anker"><span class="img"><img class="w-100 h-100" src="../assets/image/footer/Rocket.svg" alt=""></span>Mining</a></li>
                <li><a href="./Wallet2.html" class="Anker"><span><i class="fa-solid fa-wallet"></i></span>Wallet</a></li>
                <li><a href="./Profile.html" class="Anker"><span><i class="fa-solid fa-user-tie"></i></span>Profile</a></li>
            </ul>
        </div>
    </div>
</footer>
