
<footer class="container-fluid footerbottomnav">
    <div class="row">
        <div class="col-12">
            <ul class="d-flex align-items-center justify-content-between py-4 pb-2 list-unstyled gap-3">
                <li class="ms-3"><a href="/index.html"><span><img src="./assets/image/icon/home 1.svg" alt="img"></span></a></li>
                <li class="me-5"><a href="/referralTeam.html"><span><img src="./assets/image/icon/coreteam 1.svg" alt="img"></span></a></li>
                <li class="middleicon"><a href="#"><span><img src="./assets/image/icon/Rocket.svg" alt="img"></span></a></li>
                <li class="ms-5"><a href="/profile.html"><span><img src="./assets/image/icon/profile 1.svg" alt="img"></span></a></li>
                <li class="me-3"><a href="/myReferral.html"><img src="./assets/image/icon/myreferral.svg" alt="img"></span></a></li>
            </ul>
        </div>
    </div>
</footer>