<nav class="navbar navbar-expand-xl NavbarMain bg-theme1" aria-label="Offcanvas navbar large">
    <div class="container-fluid align-items-center">
        <!-- <a class="navbar-brand" href="#"><img class="w-100 h-100" src="./assets/image/logo/logo.png" alt="logo"></a> -->
        <button class="navbar-toggler border-0 shadow-none text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2"><span class="navbar-toggler-icon text-white"><img class="w-100 h-100" src="./assets/image/icon/toglericon.svg" alt=""></span></button>
        <a href="#" class="pinumber text-white fw-bold">1. <span>02412</span>&#120645;</a>
        <button type="button" class="btn modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            EN <span class="earthimg"><img class="w-100 h-100" src="./assets/image/icon/dropdownicon.svg" alt="img"></span>
        </button>

        <div class="offcanvas offcanvas-start w-75 text-bg-dark" tabindex="-1" id="offcanvasNavbar2"aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <div class="offcanvas-title" id="offcanvasNavbar2Label"><img class="w-100 h-100" src="./assets/image/logo/logo.png" alt=""></div>
                <button type="button" class="btn-close btn-close-white closebtn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 ps-xl-5 align-items-xl-center gap-xl-3 gap-lg-2">
                    <ul class="navbar-nav justify-content-start flex-grow-1 ps-xl-5 align-items-xl-center gap-xl-3 gap-lg-2">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index.html"> <span><img class="w-100 h-100" src="../assets/image/header/home.svg" alt="home"></span>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/profile.html"><span><img class="w-100 h-100" src="../assets/image/header/myprofile.svg" alt="img"></span>My Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/activate.html"><span><img class="w-100 h-100" src="../assets/image/header/activate.svg" alt="img"></span>Activate</a></li>
                        <li class="nav-item"><a class="nav-link" href="/leveldetails.html"><span><img class="w-100 h-100" src="../assets/image/header/levelDetails.svg" alt="img"></span>Level Details</a></li>
                        <li class="nav-item"><a class="nav-link" href="/myReferral.html"><span><img class="w-100 h-100" src="../assets/image/header/myReferral.svg" alt="img"></span>My Referral</a></li>
                        <li class="nav-item"><a class="nav-link" href="/levelincome.html"><span><img class="w-100 h-100" src="../assets/image/header/levelincome.svg" alt="img"></span>Level Income</a></li>
                        <li class="nav-item"><a class="nav-link" href="/directincome.html"><span><img class="w-100 h-100" src="../assets/image/header/directincome.svg" alt="img"></span>Direct Income</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/referralTeam.html"><span><img class="w-100 h-100" src="../assets/image/header/refferalteam.svg" alt="img"></span>Referral Team</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/activatehistory.html"><span><img class="w-100 h-100" src="../assets/image/header/activateHistory.svg" alt="img"></span>Activate History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/bankDetail.html"><span><img class="w-100 h-100" src="../assets/image/header/bankdetails.svg" alt="img"></span>Bank Details</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ChangePassword.html"><span><img class="w-100 h-100" src="../assets/image/header/changepassword.svg" alt="img"></span>Change Password</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/kyc.html"><span><img class="w-100 h-100" src="../assets/image/header/refferalteam.svg" alt="img"></span>KYC</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/faqs.html"><span><img class="w-100 h-100" src="../assets/image/header/faq.svg" alt="img"></span>FAQ's</a></li>
                        <li class="nav-item"><a class="nav-link" href="/termsandConditions.html"><span><img class="w-100 h-100" src="../assets/image/header/file-contract.svg" alt="img"></span>Terms and Conditions</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="/support.html"><span><img class="w-100 h-100" src="../assets/image/header/supportportal.svg" alt="img"></span>Support</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/privacyPolicy.html"><span><img class="w-100 h-100" src="../assets/image/header/privacypolicy.svg" alt="img"></span>Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login.html"><span><img class="w-100 h-100" src="../assets/image/header/logout.svg" alt="img"></span>Log out</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</nav>