@charset "UTF-8";
@import "variables";
.referralpage {
    background-image: url(../image/referral/referral.svg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    & .card {
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        border: none;
        border-radius: 30px 30px 0px 0px;
        & .referrallisticon {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            & li {
                width: 25%;
                flex-direction: column;
                display: flex;
                // margin-bottom: 30px;
                & a {
                    font-size: 14px;
                    text-align: center;
                    color: $theme1;
                    & span {
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
.myReferral {
    overflow: hidden;
    & .table {
        & table {
            & thead {
                & th {
                    font-size: 17px;
                    font-weight: 600;
                    color: $theme1;
                    white-space: nowrap;
                    padding: 5px 23px;
                }
            }
            & tbody {
                & tr {
                    & td {
                        font-size: 14px;
                        font-weight: 400;
                        color: black;
                        white-space: nowrap;
                        padding: 5px 23px;
                        text-align: center;
                    }
                }
            }
        }
       
    }
    & .form-control {
        &:focus {
            outline: none;
            border-color: $theme1;
        }
        & option {
        }
    }
    & .zoom_im {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #f9fafd;
        border: 1px solid #fff;
        transition: all ease .5s;
        padding: 10px;
        margin: auto;
        border-radius: 8px;
        position: relative;
        & img{
            object-fit: cover;
        }
        & h2{
            position: absolute;
            bottom: 0;
            left: 0;
            padding-bottom: 0px;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            width: 100%;
            background: white;
        }
    }
}
.faqsection {
    & .accordion {
        & .accordion-item {
            & .accordion-header {
                & .accordion-button {
                    background-color: $theme1;
                    color: white;
                    box-shadow: none;
                    &::after {
                        filter: invert(1);
                    }
                }
            }
            & .accordion-collapse {
                & .accordion-body {
                }
            }
        }
    }
}
//***************************************************** Responsive All Section ************************************************
// Small devices (landscape phones, 576px and up)
@mixin referral-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin referral-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin referral-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin referral-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin referral-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin referral-mixin-max-xs() {
}

// Small devices (landscape phones, less than 768px)
@mixin referral-mixin-max-sm() {
}

// Medium devices (tablets, less than 992px)
@mixin referral-mixin-max-md() {
}

// Large devices (desktops, less than 1200px)
@mixin referral-mixin-max-lg() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin referral-mixin-max-xl() {
}
